page-contacto {

    .contactopage{
        background-color: #3F72AF;
    }
    h1{
        color: #DBE2EF;

    }
    h4{
        color: #DBE2EF;
    }
    p{
        color: #DBE2EF;
    }
    .hr {
        border-bottom: 2px solid #DBE2EF;
        margin: 10px 0;
        width: 100%;
      }
}